.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#7ED5EA, #28559A);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
    
  }
  
  .slide {
    max-width: 600px;
    animation: fade 1s ease-in-out;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .slide h2 {
    font-size: 2rem;
  }

  .slide p {
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    .slide {
      padding: 0 20px;
    }
  }
  