@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin: 20px;
}

.logo-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo-title {
  display: flex;
  align-items: center;
  color: #fff;
}

.home-logo {
  width: 1.7rem;
  height: 3rem;
  margin-right: 5px;
}

.home-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.date {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.date_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px; 
}

.date_time {
  letter-spacing: -.056rem;
  font-size: 2.86rem;
  font-weight: 400;
  line-height: 3.33rem;
}

.date_am-pm {
  letter-spacing: -.019rem;
  margin-top: .11rem;
  font-family: "Intelligent Design Avertacy 1", sans-serif;
  font-size: .95rem;
  font-weight: 600;
  line-height: 1.31rem;
}

.date_date {
  letter-spacing: -.019rem;
  font-family: Intelligent Design Avertacy, sans-serif;
  font-size: .95rem;
  font-weight: 400;
  line-height: 1.19rem;
}

.content {
  position: relative;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.content p {
  font-size: 20px;
  line-height: 1.4;
  margin: 20px auto;
  opacity: 75%;
  padding: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background: transparent;
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  outline: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.btn:hover {
  background: #1D4076;
  color: white;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transform: translateY(-10px);
  transition: 0.3s ease;
}

.line {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 0.2rem;
  background-color: #fff;
  transform: translateY(10vh);
}
