@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    font-weight: 450;
}

body{
    background-color: azure;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container{
    padding-left: 10vw;
    padding-right: 10vw;
}

.btn{
    background: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #FF4A17;
    outline: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn img{
    width: 30px;
    margin-left: 5px;
}