/* src/Services.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .services {
    background-color: #00BF86;
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .services-heading {
    color: #fff;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-family: montserrst,sans-serif;
    font-weight: 600;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    height: 800px;
  }
  
  .service-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: 200px;
    max-width: 45%;
    transition: transform 0.3s ease;
  }
  
  .service-box:hover {
    transform: scale(1.05);
  }
  
  .service-title {
    color: orange;
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
  .service-description {
    color: #333;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .service-box {
      max-width: 100%;
    }
  }
  