.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navmenu {
  width: 100%;
}

.navmenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navmenu li {
  position: relative;
  margin: 20px;
}

.navmenu .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 15px 10px;
  transition: all 0.3s ease;
  border-radius: 2rem;
}

.navmenu .nav-link.active {
  background: linear-gradient(90deg,rgba(29, 64, 118,0.5),#28559A);
  width: 100%;
}

.navmenu .navicon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  /* background-color: aqua; */
}

.navmenu .nav-text {
  display: none; /* Initially hide text */
  white-space: nowrap;
  font-family: montserrat, sans-serif;
  font-weight: 500;
}

.navmenu .nav-link:hover .nav-text {
  display: inline-block; /* Display text on hover */
}
